body {
  font-family: Roboto, sans-serif;
}

.backbg {
  background-color: #1e272e;
}

.navbar-nav li.nav-item a.nav-link {
  color: white;
}
.nav-link:hover {
  color: #ff3300;
  transform: translateX(10px); /* Adjust this value to move it to the right */
  transition: all 0.3s ease; /* Smooth transition */
}

.con1 {
  background-color: #1e272e;
}

.img-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whts-bt:hover {
  background: none;
  border: #1e272e;
}
.btn2:hover {
  border: 2px solid white;
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 10px #ff66b2, 0 0 20px #ff66b2, 0 0 30px #ff66b2;
  }
  50% {
    box-shadow: 0 0 20px #ff66b2, 0 0 40px #ff66b2, 0 0 60px #ff66b2;
  }
  100% {
    box-shadow: 0 0 10px #ff66b2, 0 0 20px #ff66b2, 0 0 30px #ff66b2;
  }
}

container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.neon-circle {
  position: absolute;
  width: 330px;
  height: 330px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  animation: neonGlow 2s linear infinite;
}

/* section three */

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 300px;
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.font-f {
  font-family: Roboto;
  font-size: 18px;
}

/* from data */
.from-con {
  background: rgb(14, 94, 111);
  background: linear-gradient(
    90deg,
    rgba(14, 94, 111, 1) 3%,
    rgba(231, 0, 255, 0.9332107843137255) 100%
  );
}
form {
  margin: 15px 5px;
  width: 500px;
  font-size: 16px;
}
form h1 {
  text-align: center;
}
form label {
  display: block;
  margin-bottom: 5px;
}
form input,
form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  resize: vertical;
}
form button {
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}
form button:hover {
  background: green;
}
